<div class="Login">
    <div class="loginTxts">
        <h1>Login</h1>
    <h2>{{errorMsg}}</h2>
    </div>
    <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="onSubmit()">
       
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        
       
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- link to redirect to register -->
    <p class="link">
        <a routerLink="/register">Register </a><span>Here If You do not have an account</span>
    </p>
</div>