<div class="flex justify-between  p-2">
    <div>
        <button class="text-black bg-white p-2 font-bold m-2 text-lg rounded-lg shadow" (click)="goBack()">Back</button>
    </div>
    <div class="edit">
        <!-- <svg (click)="toggleEditForm()" class="h-8 w-8 text-white" width="24" height="24" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M12 20h9" />
            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
        </svg> -->
        <h1 class="noteDate">Created at: {{note.created | slice:0:7}}</h1>
    </div>

</div>
<div class="flex w-full">
    <!-- <div *ngIf="!showEditForm" class="viewNote p-5 md:p-20">
        <h1>{{note.title}}</h1>
        <p>{{note.content}}</p>
    </div> -->
    <form [formGroup]="editNoteForm" (ngSubmit)="onSubmit()" *ngIf="!showEditForm" class="flex p-3 m-3 form">
        <input class="text-sm md:text-lg" formControlName="title" type="text" value={{note.title}} id="title" />
        <textarea class="p-3" name="" formControlName="content" value={{note.content}} id="" cols="30" rows="10"></textarea>
        <div class="Btn p-2">
            <button type="submit" class="btn btn-primary">
                <svg class="h-8 w-8 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z" />
                    <polyline points="17 21 17 13 7 13 7 21" />
                    <polyline points="7 3 7 8 15 8" />
                </svg>
            </button>
        </div>
    </form>

</div>